# TulongChain contract (YOUR DEPLOYED CONTRACT)
VITE_CONTRACT_ID=CCHK4RPWA66DAMY4BAZOTGRCF7Y3RHAODOXZVKFMZ7FNO2ZFEZUMR4CO

# Testnet USDC contract ID (Stellar testnet USDC)
VITE_USDC_CONTRACT_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA

# Network config
VITE_NETWORK=testnet
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org

# Convex (replace after running `npx convex dev`)
VITE_CONVEX_URL=https://<your-deployment>.convex.cloud